<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body id="InfoPage">
    <h1 class="infoHeader">Tennis Player Jodie Burrage Stops Wimbledon Match To Rescue Ball Boy</h1>
    <div class="infoContainer">
        <div class="article">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Molestie nunc non blandit massa enim nec dui. Rhoncus mattis rhoncus urna neque viverra justo nec.
                Pharetra diam sit amet
                nisl suscipit adipiscing bibendum est ultricies. Eu facilisis sed odio morbi quis commodo. Diam sit amet
                nisl suscipit.
                Aliquam etiam erat velit scelerisque. Sed libero enim sed faucibus turpis. Non enim praesent elementum
                facilisis leo vel
                fringilla est. Dictum sit amet justo donec enim diam vulputate. Sed risus pretium quam vulputate.
                Vestibulum morbi blandit
                cursus risus. Aenean pharetra magna ac placerat vestibulum lectus. Odio ut enim blandit volutpat
                maecenas volutpat blandit.
                Enim lobortis scelerisque fermentum dui faucibus in ornare quam.Eget dolor morbi non arcu risus quis
                varius quam quisque.
                Tempor orci dapibus ultrices in. Tortor aliquam nulla facilisi cras. Amet mattis vulputate enim nulla
                aliquet porttitor.
                Dolor sed viverra ipsum nunc aliquet bibendum enim. Faucibus interdum posuere lorem ipsum dolor sit amet
                consectetur adipiscing.
                Viverra maecenas accumsan lacus vel facilisis. Viverra mauris in aliquam sem fringilla ut. Eu non diam
                phasellus vestibulum lorem
                sed risus ultricies tristique. Neque volutpat ac tincidunt vitae. Rutrum tellus pellentesque eu
                tincidunt tortor aliquam nulla facilisi
                cras. Est ullamcorper eget nulla facilisi etiam dignissim. Pulvinar etiam non quam lacus suspendisse
                faucibus interdum. Sem nulla pharetra
                diam sit amet nisl suscipit adipiscing bibendum. Tempus iaculis urna id volutpat lacus laoreet. Integer
                feugiat scelerisque varius morbi
                enim nunc faucibus a pellentesque.
            </p>
            <button class="returnHomeBtn"><a href="/">Return Home</a></button>
        </div>
        <div class="rightInfo">
            <img class="homeImg" src="/images/wimbleton.avif" alt="wimbleton">
        </div>
    </div>
</body>

</html>